<div class="sparql-input" (keydown)="$event.stopPropagation()">
  <div class="editor-area" #editorContainer></div>

  <div class="toolbar">
    <div class="toolbar-left">
      @if (dashboardsAvailable) {
        <button mat-button [matMenuTriggerFor]="tablerosMenu" (click)="loadDashboards()">
          <mat-icon>arrow_drop_down</mat-icon>
          {{ 'Tableros' | translate }}
        </button>
        <mat-menu #tablerosMenu="matMenu" class="library-menu">
        <div class="menu-section-label">{{ 'Mis tableros' | translate }}</div>
        @if (loadingDashboards()) {
          <button mat-menu-item disabled>
            <mat-icon>hourglass_empty</mat-icon>
            <span>{{ 'Cargando...' | translate }}</span>
          </button>
        } @else if (gisDashboards().length === 0) {
          <button mat-menu-item disabled>
            <mat-icon>info</mat-icon>
            <span>{{ 'No hay tableros guardados' | translate }}</span>
          </button>
        } @else {
          @for (d of gisDashboards(); track d.id) {
            <button mat-menu-item [title]="d.name" (click)="loadDashboard(d)">
              <mat-icon>dashboard</mat-icon>
              <span>{{ d.name }}</span>
            </button>
          }
        }
        <mat-divider />
        <button mat-menu-item (click)="newDashboard()">
          <mat-icon>add_circle</mat-icon>
          <span>{{ 'Generar tablero nuevo' | translate }}</span>
        </button>
        </mat-menu>
      }

      @if (limitNotice(); as notice) {
        <span class="limit-notice" [title]="notice.detail">
          <mat-icon>warning</mat-icon>
          {{ notice.summary }}
        </span>
      }
    </div>

    <div class="toolbar-right">
      @if (executing()) {
        <mat-spinner diameter="24"></mat-spinner>
      }

      <button
        mat-flat-button
        color="primary"
        [disabled]="!hasContent() || executing()"
        (click)="execute()"
      >
        <mat-icon>play_arrow</mat-icon>
        {{ 'Ejecutar' | translate }}
      </button>
    </div>
  </div>

  <app-field-mapping-panel
    [variables]="lastResult()?.variables ?? []"
    [bindings]="lastResult()?.bindings ?? []"
    [overrides]="mappingOverrides()"
    [overridesCount]="overridesCount()"
    (applyMapping)="onApplyMapping($event)"
    (restoreAuto)="onRestoreAuto()"
  />
</div>
