<h3 class="ta-center">SPARQL queries</h3>
<hr class="desc-hr" />

@if (queries().length === 0) {
  <h4>Current configuration generates no queries!</h4>
}

@for (query of queries(); track $index; let i = $index) {
  <div class="query-block">
    <div class="query-header clickable no-select" (click)="toggleQuery(i)">
      <span>{{ isQueryShown(i) ? '&#9660;' : '&#9650;' }}</span>
      <span>Query {{ i + 1 }}</span>
      <span> (</span>
      @for (res of query.select; track res.id) {
        <span class="query-chip" [style.border-color]="getColor(res)" (click)="onClickResource(res); $event.stopPropagation();">
          {{ res.getRepr() }}
        </span>
      }
      <span> )</span>
    </div>
    @if (isQueryShown(i)) {
      <sparql-viewer [content]="getSparql(query)" />
    }
  </div>
}
