<div class="dashboard">
  <div class="editor-area" [@editorCollapse]="editorState">
    <app-sparql-input />
  </div>
  <div
    class="views-container"
    #container
    [style.--col-left]="colLeft() + '%'"
    [style.--row-top]="rowTop() + '%'"
  >
    <div class="views-grid" [class]="'views-grid views-grid--' + preset()">
      @for (i of slotIndices(); track i) {
        <div class="cell">
          <app-view-slot [index]="i" />
        </div>
      }
    </div>
    @if (showVerticalDivider()) {
      <div
        class="divider divider-vertical"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragEnded)="onVerticalDragEnded($event)"
      ></div>
    }
    @if (showHorizontalDivider()) {
      <div
        class="divider divider-horizontal"
        cdkDrag
        cdkDragLockAxis="y"
        (cdkDragEnded)="onHorizontalDragEnded($event)"
      ></div>
    }
  </div>
</div>
